  body{
    margin: 0%;
    padding: 0%;
    background-color: #e1e5ea;
    overflow-y: hidden;
  }
  .navigationBar{
    position: fixed;
    width: 100%;
  }
  nav { 
    margin:0;
    padding: 0;
    background-color: #ffffff;
    z-index: 300;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0px solid black;
    background-color: #7868E6;
    font-size: 2.8vw;
  }
  a{
    text-decoration: none;
    color:  white;
  }
  
  li {
    display: inline;
    padding: 6.34%;
    
  }
  li:hover{
  background-color: #DBBEBE;
  padding: 6% 6% 0% 6%;
  }
  div {
    width: 100px;
    height: 100px;
    padding: 0%;
    margin: 0%;
    margin-bottom: 10px;
  }
  
  .border{
    border: 0px solid #e1e5ea;
    width: 0%;
    border: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    padding: 27% 40%;
    margin: 4% 10%;
    opacity: 1;
}
 .zero{
    position: absolute;
    font-size: 400%;
    color: black;
    padding-top: -28%;
    margin-top: -580px;
    margin-left: -370px;
 }
 .one{
    position: absolute;
    font-size: 400%;
    color: black;
    margin-top: -15%;
    margin-left: -250px;
 }
 .six{ 
    position: absolute;
    margin-top: -23%;
    font-size: 50px;
    margin-left: -245px;;
    color: white;
}
.seven{
    position: absolute;
    margin-top: -11%;
    font-size: 50px;
    margin-left: -464px;
    color: white;
}
.two{
    position: absolute;
    font-size: 400%;
    color: black;
    padding-top: -28%;
    margin-top: -5%;
    margin-left: -220px;
}
.eight{
    position: absolute;
    margin-top: -1%;
    font-size: 50px;
    margin-left: -464px;
    color: white;
}