body{padding: 0%; margin: 0%;}

.landingPage{ background-color: black; height: 100vh;}

.b1{color: white; font-size: 2vw;  background-color: #b8b5ff; position: absolute; margin-top: 25vw; margin-left: 38vw; padding: 2% 8% 2% 5%; border-radius: 20px;  }

.b1:hover,.b2:hover{background-color: #7868e6;}

.b2{color: white; font-size: 2vw; background-color: #B8B5FF; position: absolute; margin-top: 35vw; margin-left: 38vw; padding: 2% 8% 2% 10%; border-radius: 20px; }

.logo{position:absolute; margin-left: 40vw; margin-top: -90vh; } 

a{text-decoration: none; color: white;}